.App-header {
  height: 57px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.Header-container {
  display: flex;
}

.Hamburg-container {
  width: 60px;
  height: 57px;
}

.Hamburg-menu {
  /* background: ; */
  width: 60px;
  height: 100%;
}

.Logo {
  width: 44px;
  height: 44px;
}

.Delivery-button-container {
  display: flex;
  right: 16px;
  width: 80px;
  height: 25px;
  /* margin-top: -12.5px; */
  line-height: normal;
  background-size: 100% 100%;
  white-space: nowrap;
}

.Delivery-button {
  border: none;
  font-family: HGG, "Malgun Gothic", "맑은 고딕", dotum, 돋움, sans-serif;
  font-size: 0.625rem;
  font-stretch: normal;
  font-style: normal;
  font-variant-ligatures: normal;
  font-variant-caps: normal;
  font-variant-numeric: normal;
  font-variant-east-asian: normal;
  white-space: nowrap;
  font-weight: bold;
  color: #fff;
  text-align: center;
  letter-spacing: normal;
  word-spacing: normal;
  text-transform: none;
  text-indent: 0px;
  text-shadow: none;
  font-weight: 700;
  margin: 0;
  vertical-align: middle;
  overflow: visible;
  cursor: pointer;
  appearance: auto;
  align-items: flex-start;
  box-sizing: border-box;
}

@media screen and (max-width: 767px) {
  .App-header {
    display: block;
  }
}

@media screen and (min-width: 768px) {
  .App-header {
    display: none;
  }
}
