.Category {
}

@media screen and (max-width: 768px) {
  .Category {
    width: 33.333%;
    margin-top: 36px;
    padding: 50px 0 0;
    font-size: 0.875rem;
    border: none;
    background-repeat: no-repeat;
    background-size: auto 45px;
    line-height: 134%;
    color: #e22219;
  }
}

@media screen and (min-width: 769px) {
  .Category {
    font-size: 1.5rem;
  }
}
